<ion-content>
  <ion-item class="heading" lines="none"> New Draft</ion-item>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-input
          placeholder="Title file..."
          [(ngModel)]="newDraft.title"
        ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input
          placeholder="Description..."
          [(ngModel)]="newDraft.description"
        ></ion-input>
      </ion-col>
    </ion-row>

    <ion-col>
      <ion-button class="cancelButton" (click)="cancelDraft()"
        >CANCEL</ion-button
      >
      <ion-button
        class="addButton"
        shape="round"
        fill="outline"
        (click)="addDraft()"
        >ADD</ion-button
      >
    </ion-col>
  </ion-grid>
</ion-content>
