<ion-content class="bg" *ngIf="loggedIn">
  <ion-grid class="padding">
    <ion-row>
      <ion-col size="auto"
        ><ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-col>

      <ion-col class="header">Batches</ion-col><br /><br />
    </ion-row>
    <ion-row>
      <ion-col><h1 class="name">Welcome Back {{ fullName }}</h1></ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        ><h4 class="title">
          Here Are Batches You Teaching And Time Table For Lecture
        </h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="4" size="12">
        <ion-card class="timetable">
          <ion-col>
            <h1>
              Your Class <br />
              Schedule <br />
              Time Table
            </h1>
          </ion-col>
          <ion-button class="cardBtn" shape="round" fill="outline" size="small"
            >View TimeTable</ion-button
          >
        </ion-card>
      </ion-col>
      <ion-col size-md="8" size="12">
        <ion-card class="average">
          <ion-grid>
            <ion-row>
              <ion-col offset="4" size="8">
                <h3>
                  This is your Overall growth for your total Classes.
                </h3>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col offset="4" size="8">
                <h2>
                  <i><b>Good Keep it up!</b></i>
                </h2></ion-col
              ></ion-row
            >
            <ion-row>
              <ion-col offset="4" size="8">
                <ion-progress-bar class="progress"></ion-progress-bar> </ion-col
            ></ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let course of courseList;let i=index">
      <ion-col *ngIf="i%2 === 0" sizeMd="6">
        <ion-card
          class="card"
          [routerLink]="['/course',course.program,course.course_name]"
        >
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-grid class="ion-no-padding">
                  <ion-row>
                    <ion-col>
                      <ion-text class="course"
                        >{{courseList[i].program}}
                      </ion-text>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="auto" class="course">
                      <b>Subject -</b> {{courseList[i]. course_name}}
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="auto" class="course">
                      <b>Current Topic-</b> {{courseList[i].currentTopic}}
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col sizeMd="auto">
                <canvas
                  class="canvas"
                  baseChart
                  [data]="[courseList[i].completed,courseList[i].remaining]"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="doughnutChartColors"
                  [options]="memberChartOptions"
                >
                </canvas>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="(i%2 === 0) && (courseList.length > i+1) " sizeMd="6">
        <ion-card
          class="card"
          [routerLink]="['/course',courseList[i+1].program,courseList[i+1].course_name]"
        >
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-grid class="ion-no-padding">
                  <ion-row>
                    <ion-col>
                      <ion-text class="course"
                        >{{courseList[i+1].program}}
                      </ion-text>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="auto" class="course">
                      <b> Subject -</b> {{courseList[i+1]. course_name}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="auto" class="course">
                      <b>Current Topic -</b> {{courseList[i+1].currentTopic}}
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col sizeMd="auto">
                <canvas
                  class="canvas"
                  baseChart
                  [data]="[courseList[i+1].completed,courseList[i+1].remaining]"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="doughnutChartColors"
                  [options]="memberChartOptions"
                >
                </canvas>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content *ngIf="!loggedIn">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col offset="2" size-md="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Welcome to Teacher's dashboard
            </ion-card-title>
            <ion-card-subtitle>
              <ion-icon name="log-in"></ion-icon>
              Please Login to continue
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
